.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding-inline: var(--page-padding-inline);

  h1,
  p {
    text-align: center;
  }
}
