.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;

  padding-inline: var(--page-padding-inline);

  .keyboard {
    width: 100%;
    padding-block: 1rem;

    display: flex;
    align-items: flex-end;
  }

  .timer {
    font-size: 35px;

    display: grid;
    place-items: center;
  }

  .exercise {
    font-size: 3rem;

    display: grid;
    place-items: center;
  }

  .end {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .buttons {
      display: flex;
      gap: 1rem;
    }
  }
}
