@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Wellfleet", cursive;
}

:root {
  --primary: #2d985a;
  --primary-light: #97e6a4;
  --primary-text: #b1fcd4;

  --page-padding-inline: max(5%, calc((100vw - 600px) / 2));
}
